<!DOCTYPE html>
<html>
	{% include 'parts/head.tmpl' %}
	<body>
		<div class="container">
			<div>
				<center><div class="rootLink"><a href="/">На главную</a></div></center>
				<div class="about">
					<ul>
						<li class="m1">Когда не работает t.me - работает mfc.click</li>
						<li class="m2">Это удобнее, чем вбивать логин в телеграм вручную.</li>
						<li class="m3">Аналоги вынуждают смотреть рекламу до перехода в Телеграм.</li>
					</ul>
				</div>
				<br>
				<div class="credits">
					<span>Сервис сделан для участников</span> <a href="https://freeland.land" target="_blank">проекта Freeland</a>
					<br/>
					<center>
						<p>Разработчики:</p>
						<span><b>Nikita Shal</b><br/>(сам сервис)</span><br/>
						<img src="/img/NikitaShal.png"/>
						<hr/>
						<span><b>Sagleft</b><br/>(доработка)</span><br/>
						<img src="/img/Sagleft.png"/>
						<br/><br/>
						<a href="https://github.com/Sagleft/TelegramRedirect" target="_blank">Github</a>
					</center>
				</div><br/>
				<hr/><br/>
				<center><div class="rootLink"><a href="/">На главную</a></div></center>
			</div>
		</div>
	</body>
</html>
