<!DOCTYPE html>
<html>
	{% include 'parts/head.tmpl' %}
	<body>
		<input id="fake_user_name" name="fake_user[name]" style="position:absolute; top:-100px;" type="text" value="Safari Autofill Me" />
		<div class="container">
			<div class="box">
				<span class="input input--kyo goTestLink">
					<a class="btn_changeLang" onclick="changeLang()"></a>
					<a class="btn_goTestLink" onclick="goTestLink()"></a>
					<input class="getinput input__field input__field--kyo" type="search" id="input-19" onblur="colorTextGray()" onfocus="colorTextWhite()" oninput="cookieMaster()" onkeypress="return enterListen(event)" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" />
					<label class="input__label input__label--kyo" for="input-19">
						<span class="input__label-content input__label-content--kyo"></span>
					</label>
				</span>
			</div>
			<div class="box">
				<button onclick="createLink()" class="btn_getLink"></button>
			</div>
		</div>
		<div onmouseover="containerSlideUp()" onmouseleave="containerSlideDown()" onclick="goAbout()" class="aboutLink">
		HELP
		</div>
		<div class="sayHello"></div>
	</body>
</html>